<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AwareApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_cosy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cosy"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aware">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity-alias
            android:name=".launcher.OatLauncher"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cosy"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_cosy"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.SageRoseLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sage_rose"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_sage_rose"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.PlumHearthLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_plum_hearth"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_plum_hearth"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.MaximalLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_maximal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_maximal"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.LinenCafeLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_linen_cafe"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_linen_cafe"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.NavyTideLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_navy_tide"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_navy_tide"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".launcher.CharcoalLeatherLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_charcoal_leather"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_charcoal_leather"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updates"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>
    </application>
</manifest>
